.login-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.logo-image {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .login-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: auto;
    height: auto;
  }
}
